<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form User</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <h1>Form User</h1>
      <form id="form">
        <div class="form-group">
          <label>Username</label>
          <input type="text" id="name" class="form-control" />
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="text" id="password" class="form-control" />
        </div>

        <div class="form-group">
          <label>Approved</label>
          <input type="checkbox" value="1" id="approved" />
        </div>

        <button type="submit" id="save" class="btn btn-primary">Save</button>
        <a href="/" class="btn btn-secondary">Back</a>
      </form>
    </div>

    <script>
      let id = "<%= id %>";
      let method = id == "" ? "POST" : "PUT";
      let nameInput = document.getElementById("name");
      let passwordInput = document.getElementById("password");
      let approvedInput = document.getElementById("approved");

      if (id !== "") {
        fetch(`/api/v1/users/${id}`)
          .then((raw) => raw.json())
          .then((data) => {
            console.log(data);
            nameInput.value = data.name;
            passwordInput.value = data.password;
            approvedInput.checked = data.approved;
          });
      }

      let form = document.getElementById("form");
      form.onsubmit = function (e) {
        e.preventDefault();
        let name = nameInput.value;
        let password = passwordInput.value;
        let approved = approvedInput.checked;

        fetch(`/api/v1/users/${id}`, {
          method: method,
          headers: {
            "content-type": "application/json",
          },
          body: JSON.stringify({
            name: name,
            password: password,
            approved: approved,
          }),
        }).then(() => {
          window.location.href = "/";
        });
      };
    </script>
  </body>
</html>
