<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container-fluid">
      <a href="/users/form" class="btn btn-warning">Create new</a>

      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Password</th>
            <th scope="col">Approved</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="body"></tbody>
      </table>
    </div>

    <script>
      fetch("/api/v1/users", {
        method: "GET",
      })
        .then((res) => res.json())
        .then((data) => {
          let body = document.getElementById("body");
          for (let i in data) {
            let user = data[i];
            body.innerHTML += `<tr>
                  <td>${user.id}</td>
                  <td>${user.name}</td>
                  <td>${user.password}</td>
                  <td>${user.approved ? "Actived" : "No"}</td>
                  <td>
                    <a href="/users/form/${user.id}">Edit</a>
                    <a href="/api/v1/users/${user.id}" class="delete">Remove</a>
                    
                </td>
              </tr>`;
          }
        });

      document.body.addEventListener("click", (e) => {
        if (e.target.classList.contains("delete")) {
          e.preventDefault();
          fetch(e.target.href, {
            method: "DELETE",
          }).then(() => {
            window.location.reload();
          });
        }
      });
    </script>
  </body>
</html>
